@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

/*    ADD VIA JS    */
.hover {
  width: 100%;
  height: 1px;
  background-color: black;
}

/*           HEADER         */
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 6px 10px 5px 10px;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: white;
  /*         HEADER TOP ROW       */
  /*         HEADER MIDDLE ROW       */
  /*         HEADER BOTTOM ROW        */
}
.header-container-topRow {
  display: flex;
  justify-content: end;
  font-size: 10px;
  padding-top: 4px;
  margin-bottom: 10px;
  right: 0px;
  transition: all 0.3s ease;
  font-family: "Mulish", sans-serif;
  color: rgb(105, 105, 101);
}
.header-container-topRow ul:first-child {
  margin-right: 18px;
}
.header-container-topRow ul {
  display: flex;
  list-style: none;
}
.header-container-topRow ul li {
  display: flex;
}
.header-container-topRow ul li::after {
  content: " | ";
  text-align: center;
  padding: 0 10px 0 10px;
}
.header-container-topRow ul li:last-child::after {
  content: "";
  padding-right: 0px;
}
.header-container-middleRow {
  display: flex;
  justify-content: space-between;
  font-family: "Mulish", sans-serif;
  align-items: center;
  padding: 8px;
}
.header-container-middleRow .container-buttons {
  margin: 0 0 0 10px;
  flex-wrap: nowrap;
  min-width: 300px;
}
.header-container-middleRow img {
  width: 135px;
}
.header-container-middleRow ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.header-container-middleRow ul li {
  font-size: 14px;
  margin: 0 10px 0 10px;
  padding-bottom: 1px;
  word-wrap: break-word;
}
.header-container-middleRow ul .active {
  font-weight: bold;
  text-shadow: 0 0 25px rgb(31, 31, 31);
  border-bottom: 2px solid black;
}
.header-container-middleRow button {
  padding: 5px 20px 5px 20px;
}
.header-container-middleRow form {
  width: 30%;
  position: relative;
}
.header-container-middleRow form input {
  padding: 10px 20px 10px 20px;
  width: 90%;
}
.header-container-middleRow form i {
  position: absolute;
  top: 12px;
  left: 15px;
  color: rgb(206, 204, 204);
}
.header-container-bottomRow {
  border-bottom: 1px solid rgb(206, 204, 204);
  font-family: "Mulish", sans-serif;
}
.header-container-bottomRow ul {
  display: flex;
  list-style: none;
  margin: 0 20px 0 20px;
  padding-top: 13px;
  padding-bottom: 10px;
}
.header-container-bottomRow li {
  padding: 0 20px 0 20px;
  font-size: 13px;
}

/*          PRODUCT          */
.product-main {
  margin: 10px auto auto auto;
  width: 88%;
}
.product-main .breadcrumb {
  margin-bottom: 20px;
  font-size: 12px;
  font-family: "Mulish", sans-serif;
  color: rgb(121, 120, 120);
}
.product-main .breadcrumb ul, .product-main .breadcrumb li {
  display: flex;
  list-style-type: none;
}
.product-main .breadcrumb li::after {
  content: " > ";
  padding: 0 25px 0 25px;
}
.product-main .breadcrumb li:last-child::after {
  content: "";
}
.product-main .breadcrumb .active {
  font-weight: bold;
}
.product-main .product {
  display: flex;
  justify-content: center;
  position: relative;
}
.product-main .product .product-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 980px;
}
.product-main .product .product-images img {
  padding: 1px;
  width: 50%;
}
.product-main .product .product-detail {
  width: 320px;
  padding-left: 15px;
}
.product-main .product .product-detail .details-top {
  display: flex;
  justify-content: space-between;
}
.product-main .product .product-detail .details-top .detail-text, .product-main .product .product-detail .details-top .detail-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-main .product .product-detail .details-top .detail-text i, .product-main .product .product-detail .details-top .detail-icons i {
  font-size: 18px;
}
.product-main .product .product-detail .details-top .detail-text p, .product-main .product .product-detail .details-top .detail-text span, .product-main .product .product-detail .details-top .detail-icons p, .product-main .product .product-detail .details-top .detail-icons span {
  font-size: 14px;
}
.product-main .product .product-detail .details-top .detail-text .price, .product-main .product .product-detail .details-top .detail-icons .price {
  font-weight: 700;
  font-size: 16px;
  margin: 10px 0 25px 0;
}
.product-main .product .product-detail .details-top .detail-text .code, .product-main .product .product-detail .details-top .detail-text .code span, .product-main .product .product-detail .details-top .detail-icons .code, .product-main .product .product-detail .details-top .detail-icons .code span {
  font-size: 11px;
  color: rgb(115, 117, 119);
}
.product-main .product .product-detail .sticky-container {
  position: sticky;
  top: 113px;
  z-index: 0;
}
.product-main .product .product-detail .sticky-container .checked {
  color: orange;
}/*# sourceMappingURL=productSCSS.css.map */