@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

/*           HEADER         */
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 6px 10px 5px 10px;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: white;
  /*         HEADER TOP ROW       */
  /*         HEADER MIDDLE ROW       */
  /*         HEADER BOTTOM ROW        */
}
.header-container-topRow {
  display: flex;
  justify-content: end;
  font-size: 10px;
  padding-top: 4px;
  margin-bottom: 10px;
  right: 0px;
  transition: all 0.3s ease;
  font-family: "Mulish", sans-serif;
  color: rgb(105, 105, 101);
}
.header-container-topRow ul:first-child {
  margin-right: 18px;
}
.header-container-topRow ul {
  display: flex;
  list-style: none;
}
.header-container-topRow ul li {
  display: flex;
}
.header-container-topRow ul li::after {
  content: " | ";
  text-align: center;
  padding: 0 10px 0 10px;
}
.header-container-topRow ul li:last-child::after {
  content: "";
  padding-right: 0px;
}
.header-container-middleRow {
  display: flex;
  justify-content: space-between;
  font-family: "Mulish", sans-serif;
  align-items: center;
  padding: 8px;
}
.header-container-middleRow img {
  width: 135px;
}
.header-container-middleRow ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.header-container-middleRow ul li {
  font-size: 14px;
  margin: 0 10px 0 10px;
  padding-bottom: 1px;
  word-break: break-word;
}
.header-container-middleRow ul .active {
  text-shadow: 0 0 0.1em rgb(0, 0, 0);
}
.header-container-middleRow ul .active:after {
  font-weight: bold;
  text-shadow: 0 0 25px rgb(31, 31, 31);
  display: block;
  transition: all 0.5s ease;
  content: "";
  height: 1px;
  width: 100% !important;
  background: none repeat scroll 0 0 #090808;
}
.header-container-middleRow ul li:after {
  display: block;
  transition: all 0.5s ease;
  content: "";
  height: 1px;
  width: 0;
  background: none repeat scroll 0 0 #090808;
}
.header-container-middleRow ul li:hover {
  text-shadow: 0 0 0.1em rgb(0, 0, 0);
}
.header-container-middleRow ul li:hover:after {
  width: 100%;
}
.header-container-middleRow form {
  width: 30%;
  position: relative;
}
.header-container-middleRow form input {
  padding: 9px 20px 9px 40px;
  width: 90%;
  border: 1px solid rgb(0, 0, 0);
}
.header-container-middleRow form i {
  position: absolute;
  top: 12px;
  left: 15px;
  color: rgb(206, 204, 204);
}
.header-container-middleRow .container-buttons {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.header-container-middleRow .container-buttons button {
  font-size: 13px;
  font-weight: 600;
  padding: 2px;
  border: none;
  background-color: white;
}
.header-container-middleRow .container-buttons i {
  padding: 0 10px 0 0px;
  font-size: 18px;
}
.header-container-middleRow .container-buttons button:after {
  display: block;
  transition: all 0.3s ease;
  content: "";
  height: 1px;
  width: 0;
  background: none repeat scroll 0 0 #090808;
}
.header-container-middleRow .container-buttons button:hover:after {
  width: 100%;
}
.header-container-bottomRow {
  border-bottom: 1px solid rgb(206, 204, 204);
  font-family: "Mulish", sans-serif;
}
.header-container-bottomRow ul {
  display: flex;
  list-style: none;
  margin: 0 20px 0 20px;
  padding-top: 13px;
  padding-bottom: 10px;
}
.header-container-bottomRow li {
  padding: 0 20px 0 20px;
  font-size: 13px;
}

/*          PRODUCT          */
.product-main {
  margin: 10px auto auto auto;
  width: 88%;
}
.product-main .breadcrumb {
  margin-bottom: 20px;
  font-size: 12px;
  font-family: "Mulish", sans-serif;
  color: rgb(121, 120, 120);
}
.product-main .breadcrumb ul, .product-main .breadcrumb li {
  display: flex;
  list-style-type: none;
}
.product-main .breadcrumb li::after {
  content: " > ";
  padding: 0 25px 0 25px;
}
.product-main .breadcrumb li:last-child::after {
  content: "";
}
.product-main .breadcrumb .active {
  font-weight: bold;
}
.product-main .product {
  display: flex;
  justify-content: center;
  position: relative;
}
.product-main .product .product-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 980px;
}
.product-main .product .product-images img {
  padding: 1px;
  width: 50%;
}
.product-main .product .product-detail {
  max-width: 330px;
  padding-left: 15px;
}
.product-main .product .product-detail .details-top {
  display: flex;
  justify-content: space-between;
}
.product-main .product .product-detail .details-top .detail-text, .product-main .product .product-detail .details-top .detail-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 330px;
}
.product-main .product .product-detail .details-top .detail-text i, .product-main .product .product-detail .details-top .detail-icons i {
  font-size: 18px;
  padding-left: 20px;
}
.product-main .product .product-detail .details-top .detail-text p, .product-main .product .product-detail .details-top .detail-text span, .product-main .product .product-detail .details-top .detail-icons p, .product-main .product .product-detail .details-top .detail-icons span {
  word-wrap: break-word;
  font-size: 14px;
}
.product-main .product .product-detail .details-top .detail-text .price, .product-main .product .product-detail .details-top .detail-icons .price {
  font-weight: 700;
  font-size: 16px;
  margin: 10px 0 25px 0;
}
.product-main .product .product-detail .details-top .detail-text .code, .product-main .product .product-detail .details-top .detail-text .code span, .product-main .product .product-detail .details-top .detail-icons .code, .product-main .product .product-detail .details-top .detail-icons .code span {
  font-size: 11px;
  color: rgb(115, 117, 119);
}
.product-main .product .product-detail .sticky-container {
  margin: 45px 0 0 0;
  position: sticky;
  top: 120px;
  z-index: 0;
}
.product-main .product .product-detail .sticky-container > p {
  font-size: 14px;
  font-weight: 700;
}
.product-main .product .product-detail .sticky-container .comment-rate {
  display: flex;
  justify-content: space-between;
  width: 230px;
  margin-top: 10px;
  font-size: 11px;
  color: rgb(132, 131, 131);
}
.product-main .product .product-detail .sticky-container .comment-rate p {
  font-weight: 600;
  color: black;
  font-size: 13px;
}
.product-main .product .product-detail .sticky-container .checked {
  color: black;
}
.product-main .product .product-detail .sticky-container .shipper-button {
  position: relative;
  margin-top: 30px;
  font-size: 11px;
}
.product-main .product .product-detail .sticky-container .shipper-button a {
  text-decoration: none;
  border: 1px solid rgb(197, 194, 190);
  background-color: rgb(230, 225, 225);
  padding: 6px 20px 6px 20px;
  color: rgb(66, 63, 63);
}
.product-main .product .product-detail .sticky-container .shipper-button .clock {
  position: absolute;
  top: 3px;
  left: 6px;
}
.product-main .product .product-detail .sticky-container .shipper-button .arrow {
  position: absolute;
  top: 3px;
  left: 122px;
}
.product-main .product .product-detail .sticky-container .variants {
  margin-top: 30px;
}
.product-main .product .product-detail .sticky-container .variants-img img {
  margin-top: 10px;
  width: 65px;
  height: 95px;
}
.product-main .product .product-detail .sticky-container .variants span {
  font-weight: 700;
}
.product-main .product .product-detail .sticky-container .variants .active {
  border: 1px solid black;
}
.product-main .product .product-detail .sticky-container .body-measures {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 18px;
}
.product-main .product .product-detail .sticky-container .body-measures-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
}
.product-main .product .product-detail .sticky-container .body-measures-header a {
  text-decoration: none;
}
.product-main .product .product-detail .sticky-container .body-measures-header a:after {
  content: " > ";
  padding-left: 5px;
}
.product-main .product .product-detail .sticky-container .body-measures-options {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 14px;
  flex-wrap: wrap;
  margin-top: 15px;
}
.product-main .product .product-detail .sticky-container .body-measures-options .size {
  margin: 7px 5px 7px 5px;
  padding: 6px 10px 6px 10px;
  border: none;
}
.product-main .product .product-detail .sticky-container .body-measures button {
  margin-top: 15px;
  border: none;
  background-color: rgb(135, 135, 135);
  color: rgb(192, 190, 190);
  padding: 10px;
}
.product-main .product .product-detail .sticky-container .help-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
  margin-top: 15px;
  width: 320px;
}
.product-main .product .product-detail .sticky-container .help-options ul {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  list-style-type: none;
}
.product-main .product .product-detail .sticky-container .help-options ul li {
  border-right: 2px solid black;
  padding-right: 10px;
}
.product-main .product .product-detail .sticky-container .help-options ul li a:visited {
  color: rgb(62, 60, 60);
}
.product-main .product .product-detail .sticky-container .help-options ul li:last-child {
  border-right: none;
  padding-right: none;
}
.product-main .product .product-detail .sticky-container .help-options button {
  padding: 10px 10px 10px 15px;
  color: black;
  font-weight: 700;
  position: relative;
  background-color: rgb(241, 242, 244);
  border: 1px solid rgb(215, 215, 215);
}
.product-main .product .product-detail .sticky-container .help-options button iconify-icon {
  position: absolute;
  left: 90px;
  top: 10px;
  font-size: 18px;
}
.product-main .product .product-detail .sticky-container .details-bottom {
  margin-top: 40px;
  font-weight: 700;
  font-size: 14px;
}
.product-main .product .product-detail .sticky-container .details-bottom ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
}
.product-main .product .product-detail .sticky-container .details-bottom li {
  padding: 10px 0 10px 0;
  vertical-align: middle;
}
.product-main .product .product-detail .sticky-container .details-bottom li iconify-icon {
  font-size: 25px;
  padding-right: 5px;
  vertical-align: middle;
}
.product-main .product .product-detail .sticky-container .details-bottom li::after {
  content: " > ";
  float: right;
  vertical-align: middle;
  padding-top: 4px;
}/*# sourceMappingURL=productSCSS.css.map */